body {
    font-family: "Roboto,Raleway" sans-serif;

    line-height: 1.5;
    font-size: 16px;
    width: 1440px;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
}

.web {
    color: #141a57;
}

.studio {
    color: #2e2f42;
}

.a {
    text-decoration: none;

}

.ul {
    list-style: none;
}

.nav-link {
    color: #2e2f42;
}

.nav-link:hover {
    color: #404bbf;
}

.adress a {
    color: #434455;
}

.h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #ffffff;
}

.hero {
    background-color: #2e2f42;
}

.hero button {
    background-color: #2e2f42;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}

.hero button:hover {
    color: #404bbf;
}

.features h3 {
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.features p {
    font-size: 16px;
    color: #434455;
    line-height: 1.2;
}

.team {
    background: #f4f4fd;
}

.team h2 {
    font-size: 36px;
}

.team-card h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.team-card p {
    font-size: 16px;
    color: #434455;
}

.portfolio h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.portfolio p {
    color: #434455;
    font-size: 16px;
}

footer {
    background-color: #434343;
}

footer p {
    font-size: 16px;

    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.studio {
    color: #f4f4fd
}